# docker-compose.yml - Basic PHP + DB setup
# Date created: 2025-12-23
# Created by: Michael Monteith

version: '3.8'
services:
  app:
    build: .
    ports:
      - "8000:8000"
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: myapp
